<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>distance</key>
		<string>1km</string>
		<key>intro</key>
		<string>时尚精致甜品，保证您的新鲜口感</string>
		<key>name</key>
		<string>鲜芋仙</string>
		<key>icon</key>
		<string>pic15</string>
	</dict>
	<dict>
		<key>distance</key>
		<string>1km</string>
		<key>intro</key>
		<string>多年来以独家秘制的美味,健康养生的美食获得了消费者的青睐,快速聚集了超高人气</string>
		<key>name</key>
		<string>尚香锅</string>
		<key>icon</key>
		<string>pic14</string>
	</dict>
	<dict>
		<key>distance</key>
		<string>1km</string>
		<key>intro</key>
		<string>只做品质汉堡</string>
		<key>name</key>
		<string>麦乐士汉堡鸡排</string>
		<key>icon</key>
		<string>pic13</string>
	</dict>
	<dict>
		<key>distance</key>
		<string>1km</string>
		<key>intro</key>
		<string>只做品质汉堡</string>
		<key>name</key>
		<string>麦乐士汉堡鸡排</string>
		<key>icon</key>
		<string>pic12</string>
	</dict>
	<dict>
		<key>distance</key>
		<string>1km</string>
		<key>intro</key>
		<string>只做品质汉堡</string>
		<key>name</key>
		<string>麦乐士汉堡鸡排</string>
		<key>icon</key>
		<string>pic11</string>
	</dict>
	<dict>
		<key>distance</key>
		<string>1km</string>
		<key>intro</key>
		<string>只做品质汉堡</string>
		<key>name</key>
		<string>麦乐士汉堡鸡排</string>
		<key>icon</key>
		<string>pic10</string>
	</dict>
	<dict>
		<key>distance</key>
		<string>1km</string>
		<key>intro</key>
		<string>只做品质汉堡</string>
		<key>name</key>
		<string>麦乐士汉堡鸡排</string>
		<key>icon</key>
		<string>pic9</string>
	</dict>
	<dict>
		<key>distance</key>
		<string>1km</string>
		<key>intro</key>
		<string>只做品质汉堡</string>
		<key>name</key>
		<string>麦乐士汉堡鸡排</string>
		<key>icon</key>
		<string>pic8</string>
	</dict>
	<dict>
		<key>distance</key>
		<string>1km</string>
		<key>intro</key>
		<string>只做品质汉堡</string>
		<key>name</key>
		<string>麦乐士汉堡鸡排</string>
		<key>icon</key>
		<string>pic7</string>
	</dict>
	<dict>
		<key>distance</key>
		<string>1km</string>
		<key>intro</key>
		<string>只做品质汉堡</string>
		<key>name</key>
		<string>麦乐士汉堡鸡排</string>
		<key>icon</key>
		<string>pic6</string>
	</dict>
	<dict>
		<key>distance</key>
		<string>1km</string>
		<key>intro</key>
		<string>只做品质汉堡</string>
		<key>name</key>
		<string>麦乐士汉堡鸡排</string>
		<key>icon</key>
		<string>pic5</string>
	</dict>
	<dict>
		<key>distance</key>
		<string>1km</string>
		<key>intro</key>
		<string>只做品质汉堡</string>
		<key>name</key>
		<string>麦乐士汉堡鸡排</string>
		<key>icon</key>
		<string>pic4</string>
	</dict>
	<dict>
		<key>distance</key>
		<string>1km</string>
		<key>intro</key>
		<string>只做品质汉堡</string>
		<key>name</key>
		<string>麦乐士汉堡鸡排</string>
		<key>icon</key>
		<string>pic3</string>
	</dict>
	<dict>
		<key>distance</key>
		<string>1km</string>
		<key>intro</key>
		<string>只做品质汉堡</string>
		<key>name</key>
		<string>麦乐士汉堡鸡排</string>
		<key>icon</key>
		<string>pic2</string>
	</dict>
	<dict>
		<key>distance</key>
		<string>1km</string>
		<key>intro</key>
		<string>只做品质汉堡</string>
		<key>name</key>
		<string>麦乐士汉堡鸡排</string>
		<key>icon</key>
		<string>pic1</string>
	</dict>
</array>
</plist>
